<form class="actor-sheet {{cssClass}}" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
        <div class="header-fields">
            <div class="header-details flexrow">
                <h4 class="charname">Name<input name="name" class="" type="text" value="{{actor.name}}" size="5"
                        placeholder="Name" /></h4>
                <h4 class="chararchetype">Archetype<input name="data.archetype" type="text" value="{{data.archetype}}"
                        size="5" placeholder="Archetype" /></h4>
            </div>
            <div class="header-details flexrow">
                <h4 class="playername">Player<input name="data.player" type="text" value="{{data.player}}" size="5"
                        placeholder="Player" /></h4>
                <h4 class="level">Level<input name="data.level" type="text" value="{{data.level}}" size="3"
                        placeholder="level" /></h4>
                <h4 class="xp">XP<input name="data.xp" type="text" value="{{data.xp}}" size="3" placeholder="xp" /></h4>
            </div>
            <div class="header-details flexrow">
                <h4 class="description">Description<input name="data.description" type="text"
                        value="{{data.description}}" placeholder="Description" /></h4>
            </div>


        </div>
    </header>
    <div class="stats flexrow">
        <div class="stats attribute-list flexcol">
            <h3>{{localize "openlegend.common.attributes"}}</h3>
            {{#each data.attributes as |attribute key|}}
            <div class="attribute flexrow flex-group-center">
                <button class="attribute-roll rollable" data-score="{{attribute.value}}" data-attribute="{{key}}"
                    data-label="{{attribute.label}}">{{localize attribute.label}}</button>
                <input type="text" class="attribute-input" name="data.attributes.{{key}}.value"
                    value="{{attribute.value}}" data-dtype="Number" />
                <input type="text" class="attribute-input" value="{{attribute.die}}" readonly/>
                <input type="text" class="attribute-input" value="XY"></input>
            </div>
            {{/each}}
        </div>
        <div class="stats flexcol">
            <div class="stats defenses-health flexrow">
                <div class="stats defenses-health flexcol">
                    <h3>{{localize "openlegend.common.defenses"}}</h3>
                    <div>{{localize "openlegend.common.guard"}}: {{defenses.guard.value}}</div>
                    <div>{{localize "openlegend.common.toughness"}}: {{defenses.toughness.value}}</div>
                    <div>{{localize "openlegend.common.resolve"}}: {{defenses.resolve.value}}</div>
                </div>
                <div class="stats defenses-health flexcol">
                    <h3>{{localize "openlegend.common.status"}}</h3>
                    <div>
                        {{localize "openlegend.health.hitpoints"}}: <input name="data.health.hp.value" type="text"
                            class="attribute-input" value="{{data.health.hp.value}}" data-dtype="Number"> /
                        {{data.health.hp.max}}
                    </div>
                    <div>
                        {{localize "openlegend.common.speed"}} <input name="data.speed.base" type="text"
                            class="attribute-input" value="{{data.speed.base}}" data-dtype="Number" />
                    </div>
                    <div>
                        <!-- TODO -->
                        {{localize "openlegend.common.legendPoints"}}<input name="" type="text" class="attribute-input"
                            value="{{legendPoints}}" data-dtype="Number">
                    </div>
                    <div>
                        <!-- TODO -->
                        {{localize "openlegend.common.wealthLevel"}}<input name="" type="text" class="attribute-input"
                            value="{{wealthLevel}}" data-dtype="Number">
                    </div>
                </div>
            </div>
            <div class="items flexcol">
                <h3>Owned Items</h3>
                {{#each actor.items as |item id|}}
                <div class="item-entry flexrow rollable" data-item-id="{{id}}">
                    <div class="item-image" style="background-image: url('{{item.img}}')"></div>
                    <div class="item-name">
                        <strong>{{item.name}}</strong>
                    </div>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</form>